<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<!--PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} 
				- %msg%n" / -->
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n" />
      		<!--RegexFilter regex=".*ROUTE.*INFO.*" onMatch="ACCEPT" onMismatch="DENY"/-->
      		<RegexFilter regex=".*GAMEOVER.*" onMatch="ACCEPT" onMismatch="DENY"/>
		</Console>
		<File name="logFile" fileName="log/bg.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n" />
      		<RegexFilter regex=".*LOGROUTE.*" onMatch="ACCEPT" onMismatch="DENY"/>
		</File>
	</Appenders>
	<Loggers>
		<!-- Logger name="bg" level="info"
			additivity="true">
			<AppenderRef ref="logFile" />
		</Logger -->
		<Logger name="bg.backgammon3.config.Config" level="off"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="bg.backgammon3.view.helper" level="off"
			additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Root level="trace">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>